In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime as dt

In [2]:
files = os.listdir(path='data')

In [3]:
files

['friday.csv', 'monday.csv', 'thursday.csv', 'tuesday.csv', 'wednesday.csv']

In [4]:
def read_files(files, datapath='data/', delimiter = ';'):
        df_temp = []

        if type(files) == list:
            for i in files:
                df = pd.read_csv(datapath+i, delimiter=delimiter, parse_dates=True, index_col='timestamp')
                day_name = df.index.day_name()[0][:3]
                df['customer_no'] = df.customer_no.apply(lambda x: f'{day_name}_{x}')
                df_temp.append(df)
            df = pd.concat(df_temp)
        else:
            df = pd.read_csv(files, delimiter=delimiter, parse_dates=True, index_col='timestamp')
            day_name = df.index.day_name()[0][:3]
            df['customer_no'] = df.customer_no.apply(lambda x: f'{day_name}_{x}')

        return df

In [5]:
shop_data = read_files(files)

# Part 1: Data Exploration

In [6]:
shop_data = shop_data.sort_values(by='timestamp')

In [7]:
#shop_data = shop_data.reset_index()

In [8]:
shop_data

                    customer_no  location
timestamp
2019-09-02 07:03:00       Mon_1     dairy
2019-09-02 07:03:00       Mon_2     dairy
2019-09-02 07:04:00       Mon_3     dairy
2019-09-02 07:04:00       Mon_4     dairy
2019-09-02 07:04:00       Mon_5    spices
...                         ...       ...
2019-09-06 21:50:00    Fri_1509    drinks
2019-09-06 21:50:00    Fri_1507  checkout
2019-09-06 21:50:00    Fri_1508  checkout
2019-09-06 21:50:00    Fri_1496     fruit
2019-09-06 21:50:00    Fri_1500     dairy

[24877 rows x 2 columns]

In [9]:
df_timefill = shop_data.groupby(['customer_no']).resample('T').ffill()

In [21]:
test = df_timefill.droplevel(level=0)

In [ ]:
df_test = df_timefill.droplevel(level='customer_no')

In [ ]:
df = df_test.reset_index()

In [ ]:
def fill(dataframe):
    print(dataframe)

In [ ]:
df_timefill

In [ ]:
df

In [ ]:
customer_flow = pd.pivot(df, columns=['location'])

In [ ]:
customer_flow.apply(lambda x: x.min(axis=0))

In [ ]:
def e_fill(dataframe):
    print(dataframe.min())

In [ ]:
customer_flow.loc[customer_flow.checkout.isnull()].head(1)

In [ ]:
for idx, val in customer_flow.iterrows():
    val.sort_values()

In [ ]:
customer_flow.apply(np.sort, axis=1)

# Fill in checkout time

In [ ]:
def fill_timestamp(dataframe):
    if dataframe.checkout != dataframe.checkout:
        closing_time = dataframe.loc[dataframe.notnull()].max().round('H')
        return closing_time
    else:
        return dataframe.checkout
    
    if dataframe.checkout != dataframe.checkout:
        closing_time = dataframe.loc[dataframe.notnull()].max().round('H')
    return closing_time

In [ ]:
customer_flow['checkout'] = customer_flow.apply(fill_timestamp, axis=1)

In [ ]:
customer_flow.droplevel(level='customer_no')

In [ ]:
customer_flow['location'].shift(-1)